# Server
ENV=dev
PORT=3000
SECRET=my_secret_key

# Database
PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASS=postgres
PG_DB=postgres
PG_SYNC=true
PG_POOL=10

# Redis
RD_HOST=localhost
RD_PORT=6379
RD_PASS=redis
